/* -------------General styles--------------- */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #1f1f1f;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

/* ---------------------------- */

/* -------------Task 1 styles--------------- */

.task-name {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 24px;
}

.item-list {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.item {
  position: relative;
  width: 280px;
  padding: 31px 18px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  max-height: 400px;
  transition: all 0.3s ease-in-out;
}

.item:hover {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  translate: 1px -1px;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.img-box {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
}

.item-favicon {
  position: absolute;
  right: 10px;
  top: 10px;
  fill: rgba(255, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.item-favicon:hover,
.item-favicon:focus,
.item-favicon:active {
  fill: rgba(255, 0, 0, 0.9);
  transform: scale(1.1);
}

.item-img {
  align-self: center;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.item-name {
  font-size: 18px;
  text-transform: capitalize;
  align-self: center;
}

.item-desc {
  font-size: 14px;
  text-align: justify;
}

.item-bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.price-diff {
  display: flex;
  gap: 4px;
}

.item-old-price {
  text-decoration: line-through;
  font-style: italic;
}

.item-new-price {
  font-weight: 600;
  color: tomato;
}

.item-add-btn {
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}

.item-add-btn:hover,
.item-add-btn:focus,
.item-add-btn:active {
  background-color: #1f1f1f;
  color: #fff;
}

/* ---------------------------- */

/* -------------Task 2 styles--------------- */

.task-2 {
  width: 100%;
  background-color: #e0e0e0;
  margin-bottom: 120px;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 16px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.primary-item-name {
  font-size: 18px;
  font-weight: 600;
  padding: 16px;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.primary-item-name:hover,
.primary-item-name:focus,
.primary-item-name:active {
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 8px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 8px;
  background-color: rgb(100, 101, 101);
  width: 100%;
  border: 1px solid #e0e0e0;
  color: #fff;
  border-radius: 8px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}

.dropdown li {
  text-align: center;
  width: 100%;
}

.secondary-item-name {
  transition: all 0.3s ease-in-out;
}

.dropdown li:hover .secondary-item-name {
  color: rgb(184, 178, 178);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.nav-item:hover .primary-item-name {
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 8px;
}

.nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav-item:focus-within .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
